## Assignments Day 01:

In [1]:
def add(a, b):
    return a + b

result = add(3, 7)
print(result)

<function add at 0x000002CC52938360>

In [2]:
print(f"result:{result}")

result:10

In [3]:
b = 10
id(b)

140720307991624

In [4]:
import sys
print("Python version")
print(sys.version)

Python version
3.11.9 (tags/v3.11.9:de54cf5, Apr  2 2024, 10:12:12) [MSC v.1938 64 bit (AMD64)]

In [5]:
a,b,c,d,e =1,2,3,4,5
print(a,b,c,d,e)

1 2 3 4 5

In [6]:
a=10,
print(type(a))
print(id(a))

<class 'tuple'>
3076581593952

In [7]:
a= 30
b= 14
c = a+b
print(c)

44

In [8]:
r = 5
c = 1
x = r*c/2*3.14
print(x)

7.8500000000000005

In [9]:
first_name = "zohaib"
last_name = "nizami"
print(first_name,last_name)

zohaib nizami

In [10]:
my_value = 99
my_value = 0
print(my_value)

0

In [11]:
a=10
b=14
total= a+b
print(total)

24

In [12]:
total= 50
down_payment = 20
due = total - down_payment
print(due)

30

In [13]:
subtotal= 10
total= 10*0.15
print(total)

1.5

## Assignments Day 02:

In [ ]:
a = int(input("enter first number"))
b = int(input("enter second number"))
x = a+b
y = a-b
z = a*b
w = a/b
print(w,x,y,z)

In [8]:
import math

a = float(input("Enter your first number"))
b = float(input("enter your second number"))
c = float(input("enter your third number"))
s = (a + b + c)/ 0.5
area = math.sqrt((s*(s-a)*(s-b)*(s-c)))
print(s,area)

120.0 10899.54127475097

In [ ]:
x= input("enter your first number")
y= input("enter your second number")
temp = x
x = y
y = temp
print(x,y)

In [19]:
c= float(input("enter your value c"))
x =(c*9/5) +32
print(x)

89.6

In [22]:
a = 5+2
print(type(a))

<class 'int'>

In [29]:
rate =float(input("enter your rate"))
time =float(input("Enter your time in year"))
pri =float(input("Enter your principal amount"))
simple_interest =(pri*rate*time)/100
print(simple_interest)

10.0

In [30]:
speed = 60
d_5h = speed*5
d_8h = speed*8
d_12h = speed*12
print(d_5h,d_12h,d_8h)

300 720 480

In [33]:
shares_price = 1000
buy_price = 32.87
sale_price = 33.92
commission = 0.02

total_cost = shares_price*buy_price
buy_commission = total_cost*commission
total_cost =+ buy_commission

total_sale = shares_price*sale_price
sale_commission = total_sale*commission
total_sale=-sale_commission

profit_or_loss = total_sale-total_cost
print(total_cost,total_sale,profit_or_loss)

657.4 -678.4 -1335.8

## Assignments Day 03:

In [34]:
mystr = 'yes'
mystr = mystr + 'no'
mystr = mystr + 'yes'
print(mystr)

yesnoyes

In [45]:
my_str = "zohaibnizami"
x = my_str[0:3]
print(x)

zoh

In [49]:
str = 'cookies>milk>fudge>cake>ice cream'
x = str.split(">")
print(x)

['cookies', 'milk', 'fudge', 'cake', 'ice cream']

In [4]:
x = input("enter your number")
total_sum = 0
for y in x:
    total_sum += int(y)
print(total_sum)

10

In [7]:
x = 2.5
y = -1.5
m = 18
n = 4
a = x+(n*y)-(x+n)*y
b = (m/n)+(m/n)
c = (5*x)-(n/5)
d = 1-(1-(1-(1-(1-n))))
print(a,b,c,d)

6.25 9.0 11.7 -3

In [11]:
s = "Hello"
t = "World"
a = len(s)+len(t)
b = s[1]+s[2]
c = len(s)//2
d = s+t 
e = t