## Assignment no 4:

In [ ]:
a = []
for i in range(5):
    x = float(input(f"Enter number {i+1}:"))
    a.append(x)
l= min(a)
h = max(a)
t = sum(a)
avg = t/len(a)
print(l,h,t,avg)

In [8]:
a = [1,2,3]
b = [1,2,3]
c = a==b
print(c)

True

In [9]:
a = [1,2,3]
b = a.copy()
print(b)

[1, 2, 3]

In [10]:
a = [1,2,3,4,5]
a = [0]*len(a)
print(a)

[0, 0, 0, 0, 0]

In [11]:
a = [1,2,3,4,5,6,7,8,9]
a.clear()
print (a)

[]

In [20]:
a = [10,20,30,40,50]
b = a[::2]
print(b)

[10, 30, 50]

In [65]:
a = list(range(1,101))
b = []
print(a,b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100] []

In [21]:
a = [1,2,3,4,5,6,7,8]
b = a[::-1]
print(b)

[8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
a = [1,2,3,4,5,6,7,8]
b = a[0::7]
print(b)

[1, 8]

In [30]:
a = [1,2,3,4,5,6]
x = [i for i in a if i % 2 == 0]
print(x)

[2, 4, 6]

In [4]:
a = [5,7,10,1,20]
min = a[0]
lenght = len(a)

for i in lenght:

TypeError: 'int' object is not iterable

In [4]:
t1 = (1, 23, 4, 5,3, 45, 45)
a = len(t1)
print(a)

7

In [5]:
t1 = (1,2,3,4,5,6,7)
a = t1[2:3]
print(a)

(3,)

In [6]:

t = (1,12,1,5,1,6)
a = t.count(1)
print(a)

3

In [49]:
t1 = (1, 23, 4, 5, "a", ["c", "d"], (23, 45), 45)
c = t1[5][0]
r = c*2
print(r)

cc

In [51]:
t = (1,2,3,4,5,6,7,8)
c =t[:5]
print(c)

(1, 2, 3, 4, 5)

In [63]:
t = (1,2,3,4,5,6,7,8)
c =t[3:]
print(c)

(4, 5, 6, 7, 8)

In [10]:
Email_dict = {}

def display_menu():
    print("\nMenu")
    print("1. check Email")
    print("2. Add New Email")
    print("3. Change Existing Email")
    print("4 Delete Existing Email")
    print("5. Exit")

def check_email():
    name = input("Enter The name")
    if name in Email_dict:
        print(f"{name}email is {Email_dict[name]}")
    else:
        print(f"No email Address found{name}")

def add_email():
    name = input("Enter Name")
    if name in Email_dict:
        print(f"{name} already Exists")
    else:
        email =input("enter your email")
        Email_dict[name] = email
        print(f"{name} email Added")
def change_email():
    name = input("enter the person name")
    if name in Email_dict:
        email = input("enter your new email")
        Email_dict[name]= email
        print(f"{name} email Added")
    else:""
    print(f"No email{name}")

def delete_email():
    name = input ("enter name")
    if name in Email_dict:
        del Email_dict[name]
        print(f"{name}email deleted")
    else:
        print(f"no email {name}")

def main():
    while True:
        display_menu()
        choice = input("Enter your choice (1-5): ")
        
        if choice == '1':
            check_email()
        elif choice == '2':
            add_email()
        elif choice == '3':
            change_email()
        elif choice == '4':
            delete_email()
        elif choice == '5':
            print("Goodbye!")
            break
        else:
            print("Invalid choice. Please enter No 1 and 5.")
if __name__ == "__main__":
    main()

Menu
1. check Email
2. Add New Email
3. Change Existing Email
4 Delete Existing Email
5. Exit
zohaib email Added

Menu
1. check Email
2. Add New Email
3. Change Existing Email
4 Delete Existing Email
5. Exit
zohaibemail is zohaib@gmail.com

Menu
1. check Email
2. Add New Email
3. Change Existing Email
4 Delete Existing Email
5. Exit

In [13]:

a = [(1, 2), (3, 4), (5, 6), (7, 8), ('a', 'b'), ('c', 'd')]
x = a[4],a[5]
print(x)

(('a', 'b'), ('c', 'd'))

## Assignment No 5:

In [14]:
x = 5  
y = 0
if x > 0:
    y = x
else:
    y = 0

print(y)

5

In [35]:

n = 12 
x = []

for i in range(1,8):
    term = n ** i  
    x.append(term)  

print(x)

[12, 144, 1728, 20736, 248832, 2985984, 35831808]

In [46]:
x = int(input("enter your num"))
a = []
for i in range(3, x +1):
    if x % i == 0:
        a.append(i)
small_value = a[0]
large_value = a[-1]
print(f"highest divisor {x} is {large_value}")
print(f"smallest divisor {x} is {small_value}")

highest divisor 15 is 15
smallest divisor 15 is 3

In [15]:
my_dict = {102:"sohaib"105:"zohaib" 106: "nizami"}

print(my_dict[102])

sohaib

In [4]:
str = {102:"sohaib",105:"zohaib", 106: "nizami"}

str[101] = "muhammad"

print(str)

{102: 'sohaib', 105: 'zohaib', 106: 'nizami', 101: 'muhammad'}

In [7]:
str = {102:"sohaib",105:"zohaib", 106: "nizami"}

del str[102] 

print(str)

{105: 'zohaib', 106: 'nizami'}

In [9]:
str = {102:"sohaib",105:"zohaib", 106: "nizami"}

str.clear()

print(str)

{}

In [13]:
str = {102:"sohaib",105:"zohaib", 106: "nizami"}

new_str =str.copy()
print(new_str)

{102: 'sohaib', 105: 'zohaib', 106: 'nizami'}

{'name': 'Ali', 'type': 'doctor', 'description': 'Doctor'}
{'name': 'Saif', 'type': 'doctor', 'description': 'Senior Doctor'}

In [69]:
d = [
    {
        "name": "Ali",
        "type": "doctor",
        "description": "Doctor"
    }, {
        "name": "Ehtisham",
        "type": "senior",
        "description": "Senior Engineer"
    }, {
        "name": "Saif",
        "type": "doctor",
        "description": "Senior Doctor"
    }
] 
for i in d:
    if i["type"] == "doctor":
        print(i["type"])

doctor
doctor

In [2]:
d = [
    {
        "name": "Ali",
        "type": "doctor",
        "description": "Doctor"
    }, {
        "name": "Ehtisham",
        "type": "senior",
        "description": "Senior Engineer"
    }, {
        "name": "Saif",
        "type": "doctor",
        "description": "Senior Doctor"
    }
]
for i in d:
    if i["name"] in ["Saif", "Ali", 'Ehtisham']:
        print(i["name"])

Ali
Ehtisham
Saif

In [35]:
student = {"name": "John","age": 20,"grade": "A"}
print(student["age"])

20

In [40]:
student = {"name": "John","age": 20,"grade": "A"}
a = student.update({"major":"computer science"})
print(student)

{'name': 'John', 'age': 20, 'grade': 'A', 'major': 'computer science'}

In [53]:
student = {"name": "John","age": 20,"grade": "A"}
student["grade"] = "b"
print(student)

{'name': 'John', 'age': 20, 'grade': 'b'}

In [60]:
student = {"name": "John","age": 20,"grade": "A"}
student.pop("grade")
print(student)

{'name': 'John', 'age': 20}

In [17]:
a = {'name': 'John', 'age': 20, 'grade': 'A', 'major': 'computer science'}
b =len(a)
print(b)

4

In [16]:
student = {
    'name': 'John',
    'age': 20,
    'grade': 'A'
}

if "major" in student:
    print("The key 'major' exists.")
else:
    print("The key 'major' does not exist.")

The key 'major' does not exist.

In [19]:
a = {'name': 'John', 'age': 20, 'grade': 'A', 'major': 'computer science'}
for key, value in a.items():
    print(key, ":", value)

name : John
age : 20
grade : A
major : computer science

In [21]:
a = {'name': 'John', 'age': 20, 'grade': 'A', 'major': 'computer science'}
b = {"graduation_year": 2024, "GPA": 3.8}
c= a.update(b)
print(a)

{'name': 'John', 'age': 20, 'grade': 'A', 'major': 'computer science', 'graduation_year': 2024, 'GPA': 3.8}

In [31]:
a = {'name': 'John', 'age': 20, 'grade': 'A', 'major': 'computer science'}
b =a.clear()
print(a)

{}

In [36]:
classroom =[{'student1': 'ali', 'subject1': 'urdu'},
{'student2': 'ahmed','subject2': 'english'},
{'student3': 'mosa','subject3': 'math'}]
print(classroom)

[{'student1': 'ali', 'subject1': 'urdu'}, {'student2': 'ahmed', 'subject2': 'english'}, {'student3': 'mosa', 'subject3': 'math'}]

In [84]:
grades = {'Math': 90, 'Science': 60, 'English': 70, 'History': 90}
count = 0

for i in grades.values():
    if i == 90:
        count +=1
print("number of subjects",count)

number of subjects 2

In [83]:
count = 0
for i in grades.value():
    if i == 60

2

In [10]:
list=[1,4,5,6,7,3]
list.sort()
print(list)

[1, 3, 4, 5, 6, 7]

In [ ]:
a = [2,56,7,88,100,1]
sort_list = lambda list: list